body {
	width: 100%;
	background-color: #111;
	margin: 0;
	padding: 0;
}

.video-background {
	position: fixed;
	top: 0;
	left: 0;
	width: 100%;
	height: 100%;
	z-index: -1;
	opacity: 0.3;
}

video {
	width: 100%;
	height: 100%;
	object-fit: cover;
}

main {
	padding: 100px 0px 20px 0px;
	width: 100%;
}

section {
	display: flex;
	flex-direction: column;
	justify-content: center;
	align-items: center;
	text-align: center;
}
.carrossel {
	background-color: rgba(0, 0, 0, 0.5);
	padding: 20px;
	color: white;
	width: 1200px;
	border-radius: 30px;
	border: 1px solid #ff0000;
}

.carrossel img {
	width: 500px;
	border-radius: 20px;
	align-items: center;
	height: 500px;
}

.swiper-button-prev,
.swiper-button-next {
	opacity: 0;
}

h1 {
	color: #fff;
	font-family: "Oswald", sans-serif;
	font-weight: 500;
	font-size: 40px;
	padding: 40px 0px 20px 0px;
}

.bandas__destaque {
	width: 100%;
	display: flex;
	flex-direction: column;
	justify-content: center;
	align-items: center;
}

.bandas__destaque-topo iframe {
	width: 50rem;
}

.bandas__destaque-body {
	padding-top: 10px;
	width: 70rem;
	display: flex;
	justify-content: space-between;
}

.bandas__destaque-body iframe {
	width: 34.5rem;
}

@media (max-width: 768px) {
	body {
		width: 100%;
		height: 100vw;
		background-color: #111;
		margin: 0;
		padding: 0;
	}
	main {
		padding: 100px 0px 20px 0px;
		width: 100%;
		align-items: center;
	}

	section {
		display: flex;
		flex-direction: column;
		justify-content: center;
		align-items: center;
		text-align: center;
	}

	.carrossel {
		background-color: rgba(0, 0, 0, 0.5);
		padding: 20px;
		color: white;
		width: 315px;
		border-radius: 10px;
		border: 1px solid #ff0000;
		justify-content: center;
		align-items: center;
		text-align: center;
	}

	.carrossel img {
		width: 260px;
		border-radius: 10px;
		align-items: center;
		text-align: center;
		height: 260px;
	}

	.swiper-button-prev,
	.swiper-button-next {
		opacity: 0;
	}

	h1 {
		color: #fff;
		font-family: "Oswald", sans-serif;
		font-weight: 500;
		font-size: 20px;
		padding: 40px 0px 20px 0px;
	}

	.bandas__destaque {
		width: 100%;
		display: flex;
		justify-content: center;
		align-items: center;
	}

	.bandas__destaque-topo iframe {
		width: 20rem;
		height: 10rem;
	}

	.bandas__destaque-body {
		padding-top: 10px;
		width: 100%;
		display: flex;
		flex-direction: column;
		justify-content: space-between;
	}

	.bandas__destaque-body iframe {
		width: 20rem;
		height: 6rem;
	}
}
